.player-wrapper {
  position: sticky;
  padding-top: 56.25%;
  /* 720 / 1280 = 0.5625 */

}
.popularwatch {
  display: inline;
}

.player {
  position: absolute;
  top: 0;
  left: 0;

}

@media (max-width: 1060px) {
  .cardNoEp {
    margin-bottom: 20rem;
  }
  .comment {
    position: absolute;
    bottom: 15rem;
    margin-top: 12rem;
    margin-bottom: 20rem;
  }
  .popularwatch {
    margin-top: 10rem;
  }
}

@media (min-width: 1281px) {
  .player-wrapper {
    width: 1080px;
    position: relative;
    right: 12rem;
    display: inline-block;
  }

  .cardNoEp {
    position: relative;
    left: 34rem;
    bottom: 40rem;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.videoCardAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  position:relative;
  bottom: 32rem;
  /* width: 800px; */
  /* right: 20rem; */
}


.epListOnVideo {
  position: relative;
  bottom: 18rem;
  margin-bottom: 10rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.338);
  margin-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  justify-content: center;
  border-radius: 0px 0px 0 0;
  color: #b41d1d;
}


iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}



.container1 {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  width: 100%;

}




.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  /* background-image: linear-gradient(45deg, #4568dc, #b06ab3); */
  padding: 0.8em 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin-top: 3rem;
  margin-left: 1rem;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #bc1d1d, rgba(0, 0, 0, 0.708));
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

hr {
  visibility: visible;
  margin: 0 auto;
  margin-top: 100px;
  width: 35%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.statuscard {
  margin-top: 1rem;
  position: relative;
  right: 2.8rem;
}

.statuscard1 {
  position: relative;
  right: 2.8rem;
}

@media (min-width: 1281px) {
  .card1 {
    position: relative;
    bottom: 10rem;
    margin-bottom: 0;
  }
}


.status {
  position: relative;
  left: 2.8rem;
  margin-left: 10rem;
  padding-top: 0.3rem;
  z-index: 0;
  appearance: none;
  /* flex-direction: row; */
  /* display: inline-block; */
  /* flex-shrink: 0; */
  overflow: visible;
  justify-content: right;
  /* vertical-align: middle; */
}

.button-78 {
  margin-left: 1rem;
  margin-top: 1rem;
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 80px;
  height: 50px;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 5px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #FC1503 0, #FC1503 10%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#252525f2 0, #252525f2 80%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #bc1d1d 0%, #2525259a 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #bc1d1d 0, rgba(0, 0, 0, 0.316) 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #252525;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
    color: #340101
  }
}



@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 200px;
  }
}